* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eafff6;
}


/* header */

nav {
    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background: linear-gradient(0.23turn, #000000, #000002, #2a2965);
}


.brand {
    margin-left: 4vw;
}

.brand img {

    height: 110px;
}

.items {
    display: flex;
    gap: 1.5rem;
    padding-right: 5rem;
    color: #ffffff;

    text-transform: uppercase;
    list-style: none;
}

.items li {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.items li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#cart-icon img {
    height: 32px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

#cart-icon img:hover {
    transform: scale(1.08);
}

main {
    display: flex;
    justify-content: center;
}

/* GRILLA DE PRODUCTOS */

#product-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 4rem 3rem;
    padding: 20px;
    margin-top: 200px;
    box-sizing: border-box;
}


/* CARD PRODUCTOS */

.product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1.5rem;
    background: #FFF;
    margin-bottom: 10px;
}

.img-container {
    display: flex;
    height: 15rem;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;
    flex-wrap: wrap;
    background: #FFF;
    border-radius: 10px 10px 0px 0px;
}

.arrow-container {
    position: relative;
}

.product-img {
    max-height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.color-selector {
    display: flex;
    width: 22rem;
    height: 2rem;
    align-items: center;
    gap: 0.4rem;
    position: relative;
    padding-left: 1.2rem;
    bottom: 3rem;
}

.color-circle {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #74747499;
    cursor: pointer;
    filter: contrast(1.5);
    opacity: 0.7;
    transition: transform 0.4s ease-in-out;
}

.color-circle:hover {
    transform: scale(1.05);
}

/* cuerpo de la card */

.card-body {
    display: flex;
    height: 50%;
    padding: 1.125rem;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    background: #F1F1F1;
    border-radius: 0px 0px 10px 10px;
}

.title-card {
    display: flex;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
}

.description-card {
    display: flex;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 8px;
}

p {
    font-size: 1em;
    margin-bottom: 12px;
}

.price-card {
    display: flex;
    padding: 0rem 0.75rem;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
}

.price-card p {
    font-size: 1.5rem;
    font-weight: 700;
}

.button-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1 0 0;
    align-self: stretch;
}


.size-buttons {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.size-button {
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.size-button.selected {
    background-color: #2980b9;
}



/* CARRITO DE COMPRAS */
#shopping-cart {
    padding: 20px;
    display: none;
    position: fixed;
    top: 7rem;
    right: 0;
    bottom: 0;
    left: auto;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
    border-radius: 0.5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


#shopping-cart h2 {
    text-align: center;
    font-size: 1.8rem;
    color: #333;
}

.cart-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: sticky;
    top: 0;

    z-index: 2;
    gap: 50px
}

.cart-title-container {
    flex: 1;
    padding-left: 5%;
}

.cart-cancel-container {
    width: 5%;
    display: flex;
    justify-content: flex-end;
}


.cart-cancel-container img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.cart-items-container {
    height: 70%;
    overflow-y: auto;
    flex-grow: 1;
}

.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-img-container {
    height: 8rem;
    width: 8rem;
    overflow: hidden;
}

.cart-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-description-card {
    flex: 1;
    padding: 1rem;
}

.cart-description-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.cart-description-card p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #666;
}

.cart-product-quantity,
.cart-price-card {
    text-align: center;
    padding: 1rem;
}

.cart-price-card p {
    font-size: 1.2rem;
    color: #e44d26;
}

.delete-product-container {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.delete-product-container img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.delete-product-container img:hover {
    transform: scale(1.2);
}

/* ShoppingCart Footer */


.footer-cart-container {
    display: flex;
    /* width: 100%; */
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    left: 2rem;
}

.action-btn-container {
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    gap: 4rem;
}

.cart-total-container {
    display: inline-flex;
}

.cart-total-container h3{
    font-size: 2rem;
}

.cart-price-card p {
    font-size: 1.5rem;
    color: rgb(4, 4, 95)
}


.btn a {
    color: white;
    text-decoration: none;
}

.btn,
.button-card-shop {
    padding: 0.75rem;
    background: linear-gradient(101deg, #00A861 5.5%, #4122FF 104.45%);
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
}

.btn,
.button-card-shop:hover {
    transform: scale(1.05);
}

.btn.cancel {
    background: linear-gradient(101deg, #e88b5b 5.5%, #ab8a12 104.45%);
}

.btn.cancel:hover {
    background: darkred;
}

.btn.acept:hover {
    background: darkgreen;
}



/* ASIDE */

#aside {
    width: 20%;
    background-color: #eafff6;
}